[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/cow"]
	path = lib/cow
	url = https://github.com/cowprotocol/composable-cow.git
[submodule "lib/safe-protocol"]
	path = lib/safe-protocol
	url = https://github.com/safe-global/safe-core-protocol
